body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* sections */
.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-colored {
  background-color: white;
}

.container-fluid {
  padding: 7% 15%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title-image */
#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* features */
#features {
  background-color: white;
  position: relative;
}

.feature-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.feature-box {
  padding: 5px;
}

/* icon */
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* testimonial */
#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* pricing */
#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 2% 3%;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* mediaquery */
@media (max-width:1025px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* section */
.cta-h3 {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

.cta-button {
  margin: 5% 3% 5% 0;
}

#footer {
  color: white;
}

.footer-icon {
  padding: 1% 1%;
  color: black;
}

.footer-p {
  margin-top: 10px;
}

/* coderfactor */
.main-header {
  font-size: 3.5rem;
  line-height: 1.5;
}
